<div *ngIf="schedule.length">
  <h2>Schedule</h2>
  <table mat-table [dataSource]="schedule">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let payment"> {{payment.date.toLocaleDateString()}} </td>
    </ng-container>
    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let payment">£ {{payment.sum}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="scheduleColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: scheduleColumns"></tr>
  </table>
</div>
