.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .mat-toolbar {
    background-color: #2d3737;
    color: white;
    height: 84px;
  }

  .mat-toolbar.top {
    border-bottom: 6px solid #ffde00;
  }

  .holder {
    flex-grow: 1;

    .columns {
      display: flex;
      flex-direction: row-reverse;

      .left-column {
        flex-grow: 1;
        margin-right: 30px;

        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
