<div class="contents">
  <mat-toolbar class="top">
    <a href="/" class="ac-brand ac-brand--header">
      <span class="ch-reader">Arnold Clark</span>
    </a>
  </mat-toolbar>

  <div class="holder">
    <h1>Car Loan Scheme Calculator</h1>
    <div class="columns">
      <div class="middle-column">
        <app-payments [price]="price"
                      [deposit]="deposit"
                      [date]="date"
                      [years]="years"
                      [firstMonthFee]="firstMonthFee"
                      [lastMonthFee]="lastMonthFee"
                      (onMonthlyChange)="monthlyPrice = $event">
        </app-payments>
      </div>
      <div class="left-column">
        <mat-form-field>
          <input matInput type="number" placeholder="Price (£)" [(ngModel)]="price" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Deposit (£)" [(ngModel)]="deposit" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="date" placeholder="Delivery date" [(ngModel)]="date" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pay in</mat-label>
          <mat-select [(value)]="years">
            <mat-option value="1">1 year</mat-option>
            <mat-option value="2">2 years</mat-option>
            <mat-option value="3">3 years</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Arrangement fee (£)" [(ngModel)]="firstMonthFee" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Completion fee (£)" [(ngModel)]="lastMonthFee" />
        </mat-form-field>

        <app-top-cars [monthlyPrice]="monthlyPrice"></app-top-cars>
      </div>
    </div>
  </div>
    
  <mat-toolbar>
    <a href="/" class="ac-brand ac-brand--header">
      <span class="ch-reader">Arnold Clark</span>
    </a>
  </mat-toolbar>
</div>

