<div *ngIf="cars.length">
  <h2>Top 6 cars</h2>
  <table mat-table [dataSource]="cars">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let car"> {{car.title.name + ' ' + car.title.variant}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let car">£ {{car.salesInfo.pricing.cashPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="monthly">
      <th mat-header-cell *matHeaderCellDef> Monthly </th>
      <td mat-cell *matCellDef="let car">£ {{car.salesInfo.pricing.monthlyPayment}} </td>
    </ng-container>
    <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef> Summary </th>
      <td mat-cell *matCellDef="let car">{{car.salesInfo.summary.join(' ')}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
  </table>
</div>
