/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color: #2d3737;
}

.holder {
  padding: 20px;
}

body .holder td.mat-cell {
  padding-right: 10px;
  padding-left: 10px;
}

